@tailwind base;
@tailwind components;
@tailwind utilities;

/* Now, you can add your custom styles */
::-webkit-scrollbar {
    display: none;
}

/* Your other custom CSS */
html{
    @apply font-sans;
    overflow-x: hidden;
}

/* Override react-big-calendar default styles here */

.rbc-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.rbc-btn-group button {
    @apply bg-blue-500 text-white font-medium py-1 px-3 rounded-md hover:bg-blue-600;
}

.rbc-day-slot .rbc-time-slot {
    border-top: 1px solid #e5e7eb;
    /* light gray */
}

.rbc-event {
    border-radius: 0.375rem;
    /* rounded-lg */
    padding: 0.5rem;
    font-size: 0.875rem;
    /* text-sm */
    font-weight: 500;
    /* medium */
}

.rbc-today {
    background-color: #f0f4ff;
    /* light blue */
}